<div class="box">
    <h2>{{post.title}}</h2>
    <p *ngIf="reduce">{{post.body| slice:1:50}}</p>
    <a *ngIf="reduce" routerLink="/posts/{{post.id}}" routerLinkActive="active">Voir détails</a>
    <p *ngIf="!reduce">{{post.body}}</p>
    <a *ngIf="!reduce" routerLink="/posts" routerLinkActive="active">Retour à la liste</a>
    <p>userId: {{post.userId}} id: {{post.id}}</p>
</div>
