<h2>Liste des articles du blog</h2>

<!-- Lister les utilisateurs -->

<div class="flex">
    <app-post-card [post]="post" [reduce]="reduce" *ngFor="let post of posts"></app-post-card>
</div>

<div class="flex">
    <app-comment-card [comment]="comment" *ngFor="let comment of comments"></app-comment-card>
</div>